<!-- <html> é uma tag
     <head> todas as configurações do documento
     <body> todo o conteúdo visível da página

        HTML
    Hyper Text
         Hipertexto

    Markup
        Marcação

    Language
        Linguagem

HTML é uma linguagem de marcação de Hipertexto
e não de programação
-->
<!DOCTYPE html>
<html lang="pt_br">
<!-- lang é um atributo-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/success.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <title>Proffy</title>

    <script>
        setTimeout(function () {
        location.href='study'
    },3000)
    </script>
    
</head>

<body id="page-success">

    <div id="container">
        <header class="page-header">

            <div class="top-bar-container">
                <img src="/images/logo.svg" alt="Proffy">
            </div>
        </header>

            <div class="content-page">
                <img src="/images/icons/success-check-icon.svg" alt="Voltar">
                <h1> Seu cadastro foi realizado com sucesso!</h1>
            </div>


      
    </div>
    <script src="../../public/scripts/timeOut.js"></script>
</body>

</html>